* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.container {
  width: 1032px;
  height: 651px;
  margin: 30px 0;
  background-image: url("https://images.pexels.com/photos/355465/pexels-photo-355465.jpeg?cs=srgb&dl=pexels-pixabay-355465.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); 
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  transition: opacity 1s ease; 
}

.slide.active {
  opacity: 1; 
}

.slide-img {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transform: translateX(-100%); 
  transition: transform 1s ease; 
}

.text {
  width: 400px;
  text-align: center;
  color: white;
  overflow: hidden; 
  transform: translateX(-100%); 
  animation: slideIn 3s ease-in-out forwards;;
}

.text span,
.text h1 {
  margin-top: 20px;
  opacity: 0; 
  transition: opacity 3s ease; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Bóng đổ cho văn bản */
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(0); 
  }
}

@keyframes textIn {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(0); 
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    width: 90%;
    height: auto; /* Hoặc một chiều cụ thể */
  }
  .slide-img, .text {
    width: 100%; /* Điều chỉnh kích thước cho thiết bị di động */
  }
}


/* Đặt các vị trí cho hình ảnh */
.slide-1 .slide-img img {
  transform: translateX(0); /* Ảnh giữ nguyên vị trí */
}

.slide-2 .slide-img img {
  transform: translateX(20%); /* Dịch sang phải */
}

.slide-3 .slide-img img {
  transform: translateX(-20%); /* Dịch sang trái */
}

.slide-4 .slide-img img {
  transform: translateY(20%); /* Dịch xuống */
}

.slide-5 .slide-img img {
  transform: translateY(-20%); /* Dịch lên */
}

.slide-6 .slide-img img {
  transform: scale(1.2); /* Zoom ra một chút */
}

